@model Proiect_open_discusion.Models.Subject

<h2>Modifica Subiectul</h2>
<br />

@using (Html.BeginForm(controllerName: "Subjects", actionName: "Edit", method: FormMethod.Post,
    routeValues: new {id = Model.Id})){

    @Html.Label("Title", "Denumire subiect")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger"})
    <br />

    @Html.Label("Text", "Continut subiect")
    <br />
    @Html.TextBox("Text", null, new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger"})
    <br />

    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
    "Selectati categoria", new {@class = "form-control"});
    @Html.ValidationMessageFor(m => m.CategoryId, null, new {@class = "text-danger"});
    <br />

    <button class="btn btn-success" type="submit">Modifica subiectul</button>
}